:root{
    --myFont: Verdana;
    --myColor: #007bff;
    --myBgColor: #b3cb76;
}


body, a{
    font-family: var(--myFont);
    color:var(--myColor);
    max-width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:var(--myColor);
}

/* Navigációs bar */
.navbar{
    background-color: var(--myBgColor);
}

.navbar-brand{
    color:rgb(0, 105, 217);
    font-family: var(--myFont);
    font-weight: bold;
    font-size: 20px;
}

.navbar{
    padding: 5px;
}

.navbar li{
    margin-right: 15px;
}

.nav-item button{
    background-color: rgb(0, 105, 217);
    color: #fff;
    font-weight: bold;
    
}

.navbar .left-side li:nth-child(3){
    margin-right: 0px;
    max-width: 100px;

}
.navbar ul input{
    background-color: var(--myBgColor);
    border: none;
    margin: 0px !important;
}

/* HERO */
.hero {
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.hero img{
    max-height: 750px;
    border-radius: 0;
}

.card-title {
    font-size: 56px;
    margin-top: 50px;
}

.card-text2{
    margin: 50px 0px;
}

.hero button{
    background-color: var(--myColor);
    color: #fff;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
}

h2{
    font-size: 40px;
    color: #000;
    margin: 50px 0px;
}

.card-img-top{
    padding: 15px 15px 0px 15px;
}

.col .card-title{
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}

.card-body{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-bottom: 0px;
}

.card-text{
    text-align: right;
    font-size: 44px;
    margin-top: 10px;
    margin-right: 20px;
}

.expensive{
    box-sizing: border-box;
    font-weight: bold;
    background-color: #333399;
    color: #fff;
    border:none;
    border-radius: 5px;
    padding: 0px 10px;
}

.cheap {
    box-sizing: border-box;
    font-weight: bold;
    background-color: var(--myBgColor);
    color: #fff;
    border:none;
    border-radius: 5px;
    padding: 0px 30px;
}


/* Table */
caption{
    caption-side: top;
    font-size: 40px;
    margin: 15px 0px;
}

td, tr, th {
    padding: 0px !important;
}

th {
    font-size: 32px;
    color: rgba(33, 37, 41, 0.79);
}

td {
    font-size: 32px;
    color: rgb(51, 51, 153);
}

/* Form */
form{
    color: rgb(33, 37, 41);
    margin-top: 50px;
    background-color: rgb(218, 218, 218);
}

h3{
    font-size: 40px;
    font-weight: bold;
    color: rgb(33, 37, 41);
    padding-top: 50px;
    padding-bottom: 30px;
}

form div{
    margin: 0 auto;
    max-width: 45%;
}

form .d-grid button{
    background-color: rgb(220, 53, 69);
    border: none;
}

form .d-grid button:hover{
    background-color: rgb(189, 33, 48) !important;
}

.input-group button{
    padding-right: 50px;
}